.aboutMe{
    display: flex;
    background: rgba(0, 0, 0, 0.479);
    padding: 20px;
    border-radius: 5px;
    color: rgb(148, 148, 148);
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
}